[Desktop Entry]
Version=2.0
Type=Application
Name=Update
Comment=Update your Desktop app for kali Linux
Icon=update-none
Exce=/home/kali/Update
Terminal=false
StartupNotify=false