[Desktop Entry]
Version=2.0
Type=Application
Name=Update
Comment=Update your Desktop app for kali Linux
Icon=update-none
Exec=sudo apt update && sudo apt upgrade-y
Terminal=false
StartupNotify=false
Path=