[Desktop Entry]
Version=1.0
Type=Link
Name=URLdesktop
Comment=URL Desktop app to Linux
GenericName=URL Desktop app to Linux
Icon=anbox
URL=/home/kali/
